################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output.avi
/drop3.avi
/drop2.avi
/drop.mp4
